<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Home | {{ restaurant.name }}{% endblock %}</title>
    </head>
    <body>
        {% block content %}{% endblock %}
        <footer class="footer">
            <div class="container">
                <p>&copy; 2025 Your Restaurant Name</p>
                <ul class="footer-links">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'menu' %}">Menu</a></li>
                    <li><a href="{% url 'contact' %}">Contacts</a></li>
                    <li><a href="{% url 'reservations %">Reservations</a></li>
                </ul>
            </div>
        </footer>
    </body>
</html>