<!DOCTYPE html>
<html>
    <head>
        <title>Contact Us</title>
    </head>
    <body>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Send</button>
        </form>

        {% if form.errors %}
        <div class="form-errors"
        <ul>
            {% for field in form %}
            {% for error in field.errors %}
            <li><strong>{{ field.label }}:</strong>{{ error }}</li>
            {% endfor %}
            {% endfor %}
        </ul>
        </div>
        {% endif %}
    </body>
</html>