<!DOCTYPE html>
<html>
    <head>
        <title>Contact Us</title></head>
        <body>
            <h1>Contact Us</h1>
            <form method="post">
                {% csrf_token %}
                {{form.as_p}}
                <button type="submit">Submit</button>
            </form>
            <section>
                <h2>Our Location</h2>
                <p>123 Main Street, Hyderabad, Telangana, India</p>

                <iframe 
                src="https://www.google.com/maps /embed/place?key=YOUR_API_KEY&q=123+Main+Street, +Hyderabad, +India"
                width="100%"
                height="400"
                style="border:0;"
                allowfullscreen=""
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade">
                </iframe>
            </section>
        </body>
</html>

<a href="{% url 'contact-us' %}">Contact Us</a>
