<!DOCTYPE html>
<html>
    <head>
        <title>Openning Hours</title>
    </head>
    <body>
        <footer class="bg-dark text-white py-3 mt-5">
            <div class="container text-center">
                <p class="mb-1">&copy; {{ now|date:"Y" }}Flavours & Feast.All rights reserves</p>
                <p class="mb-1">
                    <strong>Openning Hours:</strong> Mon - Fri: 11:00 AM - 9:00 PM | Sat-Sun: 10:00 AM - 10:00 PM
                </p>
                <p class="mb-0">
                    <a href="{% url 'privacy-policy %}" class="text-white">Privacy Policy</a>
                </p>
            </div>
        </footer>
    </body>
</html>