<!DOCTYPE html>
<html>
    <head>
        <title>{{ restaurant_name }} - Welcome</title>
    </head>
    <body>
        <header>
            <h1>{{ restaurant_name }}</h1>
            <p>Welcome to our restaurant! We're glad you're here - make yourself at home.</p>
            {% extends 'HTML_base.html %'}

            {% block content %}
            <div class="container">
                <h1>Welcome to {{ restaurant.address }}</p>
                <p><strong>Address</strong>{{ restaurant.address}}</p>
                </div>
                {% endblock %}
        </header>
    </body>
</html>