<!DOCTYPE html>
<html>
    <head>
        <title>Homepage</title>
    </head>
    <body>
        <section class="opening-hours">
            <h2>opening Hours</h2>
            <ul>
                {% for day, hours in opening_hours.items %}
                <li><strong>{{ day }}</strong>{{ hours }}</li>
                {% endfor %}
                <nav class="breadcrumb">
                    <ul>
                        <li><a href="{% url 'home' %}">Home</a></li>
                    </ul>
                </nav>
            </ul>
        </section>
    </body>
</html>