<!DOCTYPE html>
<html>
    <head>
        <title>Menu Search</title>
    </head>
    <body>
        <h1>Search Menu Items</h1>
        <form method="GET" action="">
            <input type="text" name="q" placeholder="Search for menu items...">
            <button type="submit">Search</button>
        </form>
        <ul>
            {% for item in menu_items %}
            <li>{{ item.name }}- {{item.description }}- {{item.price}}</li>
            {% empty %}
            <li>No menu items found.</li>
            {% endfor %}
        </ul>
    </body>
</html>