<!DOCTYPE html>>
<html>
    <head>
        <title>Privacy</title>
    </head>
    <body>
        {% extends 'base.html' %}

        {% block content %}
        <div class="container mt-5">
            <h1 class="mb-4">Privacy Policy</h1>
            <p>
                This is our privacy policy. The content here explains how we handle and protect your personal Information.
                We value your trust and are committed to safeguarding your privacy
            </p>
            <p>
                This is placeholder text - in the future, this section will include detailed information about 
                data collection, usage, and security measures.
            </p>
        </div>
        {% endblock %}
    </body>
</html>