<!DOCTYPE html>
<html>
    <head>
        <title>Sitemap</title>
    </head>
    <body>
        <h1>Website Sitemap</h1>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'menu' %}">Menu</a></li>
            <li><a href="{% url 'about' %}">About Us</a></li>
            <li><a href="{% url 'contact' %}">Contact Us</a></li>
            <li><a href="{% url 'careera' %}">Careers</a></li>
            <li><a href="{% url 'sitemap' %}">Sitemap</a></li>
        </ul>
    </body>
</html>