<!DOCTYPE html>
<html>
    <head>
        <title>Sitemap</title>
    </head>
    <body>
        <h1>Website Sitemap</h1>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'menu' %}">Menu</a></li>
            <li><a href="{% url 'about' %}">About Us</a></li>
            <li><a href="{% url 'contact' %}">Contact Us</a></li>
            <li><a href="{% url 'careera' %}">Careers</a></li>
            <li><a href="{% url 'sitemap' %}">Sitemap</a></li>
        </ul>
        <urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">

        <url>
            <loc>https://www.example.com/</loc>
            <changefreq>weekly</changefreq>
            <priority>1.0</priority>
        </url>

        <url>
            <loc>https://www.example.com/about/<loc>
                <changefreq>monthly</changefreq>
                <priority>0.8</priority>
                </url>

                <url>
                    <loc>https://www.example.com/contact/</loc>
                    <changefreq>monthly</changefreq>
                    <priority>0,8</priority>
                </url>

                <url>
                    <loc>https://www.example.com/menu/</loc>
                    <changefreq>weekly</changefreq>
                    <priority>0.9</priority>
                </url>
        </urlset>
    </body>
</html>