<!DOCTYPE html>
<html>
    <head>
        <title>Terms of Service</title>
    </head>
    <body>
        <h1>Terms of Service</h1>
        <p>Welcome to our restaurant website. By using this site, you agree to the folloeing terms and conditions.</p>
        <ul>
            <li>All reservations are subject to avzilability</li>
            <li>Menu prices may change without notice.</li>
            <li>We respect your privacy and will not misuse your data.</li>
            <li>Misuse of this site may lead to termination of access.</li>
        </ul>
        <p>If you have questions, please contact us.</p>
    </body>
</html>