<!DOCTYPE html>
<html>
    <head>
        <title>Terms of Service</title>
        <style>
            body {
            font-family: Arial, sans-serif;
            margin: 40px;
            line-height: 1.6;
            color: #333;
            }

            h1 {
            text-align: center;
            margin-bottom: 20px;
            }

            section {
            margin-bottom: 20px;
            }
            </style>
    </head>
    <body>
        <h1>Terms of Service</h1>

        <section>
            <h2>1. Introduction</h2>
            <p>Welcome to our restaurant website. By using this site, you agree to following terms and conditions.</p>
        </section>

        <section>
            <h2>2. Use of Our Website</h2>
            <p>You agree not to misuse the website, attempt unauthorized access, or disrupt its normal operation.</p>
        </section>

        <section>
            <h2>3. Reservation & Orders</h2>
            <p>All reservations and online orders are subject to availability and confirmation. We reserve the right to cancel or modify them if necessary.</p>
        </section>

        <section>
            <h2>4. Payements</h2>
            <p>Prices are displayed in local currency. Payements must be made at the time to order or as specified.</p>
        </section>

        <section>
            <h2>5. Privacy</h2>
            <p>Your personal information will be handled according to our <a href="privacy.html">Privacy Policy</a>.</p>
        </section>

        <section>
            <h2>6. Changes to Terms</h2>
            <p>We may update these Terms of Service from time to time. continued use of the website means acceptance of the updated terms.</p>
        </section>

        <section>
            <h2>7. Contact</h2>
            <p>If you have any questions, please contact us at support@restaurant.com.</p>
        </section>
    </body>
</html>