<!DOCTYPE html>
<html>
    <head>
        <title>Thank You</title>
        <style>
            body {
            font-family: Arial, sans-serif;
            text-align: center;
            padding: 50px;
            background-color: #f9f9f9;
            }

            .thank-you-box {
            background: #fff;
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0 2px 6px rgba(0,0,0,0.1);
            display: inline-block;
            }

            h1{
            color: #28a745;
            }
            </style>
    </head>
    <body>
        <div class="thank-you-container">
            <h1>Thank You</h1>
            <p>Your Submission has been recieved. We'll get back to you soon.</p>
        </div>
        
    </body>
</html>